html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search input{
    border-radius: none;
    background-color: transparent;
}

/* AN ERROR TO FIX HERE */
.searchholder{
    color: lightgray;
}

.limitedOffer{
     font-size: 20px;
     border-bottom: 2px solid green;
     cursor: pointer;
}

.NavBotom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ManuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-size: 400;
}

.slider{
    background-repeat: no-repeat;
    background-size: 100%;
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 80%);
    background-image: url(img/wall\ \ background.jpg);
    overflow: hidden;
}

.sliderWraper{
    display: flex;
    width: 500vw;
    transition: all 1s ease;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 50px;
}

.imm{
    width: 20rem;
    z-index: 1;
    /* margin-right: 15rem; */
}

.sliderBg{
    width: 570px;
    height: 570px;
    border-radius: 50%;
    position: absolute;
    /* background-color: yellow; */
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
    color: white;
}

.sliderPric{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
    color: white;
}

.BuyBTN{
    position: absolute;
    top: 70%;
    right: 15%;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid gray;
    cursor: pointer;
    background-color: black;
    z-index: 1;
    color: white;
}

.BuyBTN:hover{
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{
    background-color: green;
}

.sliderItem:nth-child(2) .sliderBg{
    background-color: purple;
}

.sliderItem:nth-child(3) .sliderBg{
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg{
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(124,115,80);
}

.sliderItem:nth-child(1) .sliderPric{
    background-color: green;
}

.sliderItem:nth-child(2) .sliderPric{
    background-color: purple;
}

.sliderItem:nth-child(3) .sliderPric{
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderPric{
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPric{
    background-color: rgb(124,115,80);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


.featureIcon{
   width: 50px;
   height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featurDesc{
    color: gray;
    width: 50%;
    height: 100px 
}

.product{
    background-color: whitesmoke;
    height: 50vw;
    position: relative;
    padding: 0%;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 20;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    box-shadow: -1px 14px 10px 14px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 14px 10px 14px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 14px 10px 14px rgba(0,0,0,0.75);
}

.payTitle{
    font-size: 20px;
    color: rgb(219, 218, 218);
}

label{
    font-size: 14px;
    font-weight: 300;
}

.PayInput{
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray ;
}

.PayInput::placeholder{
    color: rgb(187, 184, 184);
}

.cardIcons{
    display: flex;
}

.cardIcon{
    width: 40px;
    margin-right: 10px;
}

.cardInfo{
    right: 0;
    display: flex;
    justify-content: space-between;

}

.PayInput .sm{
    width: 30%;
}

.payBtton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0%;
    box-shadow: -1px 14px 10px 14px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 14px 10px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 10px 14px rgba(0,0,0,0.75);
     background-color: rgb(3, 128, 3);
     color: white;
     border: none;
     cursor: pointer;
}

.close{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



.productImg{
    width: 30%;
}

.productDetail{
    position: absolute;
    top: 10%;
    right: 0px;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDec{
    font-style: 24px;
    color: gray;

}

.colors, .sizes{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.color{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    
}

.color:last-child{
    background-color: darkblue;
}

/* NEED TO FIX THE BORDER RADIUS */
.sizes{
    padding: 5px 0px;
    cursor: pointer;
    font-size: 20px;

    
}

.size{
    justify-content: space-between;
    border-radius: 5px solid black;
    background-color: black;
    color: white;
    gap: 20px;
    margin-right: 10px;


}

.productBtn{
    float: right;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productBtn:hover{
    background-color: white;
    color: #111;
}

.gallery{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* .galleryTitle{
    display: flex;
    text-align: center;
} */

.galleryIterm{
    width: 33%;
}

.galleryIMG{
    width: 100%;
    /* padding: 50px; */
}

.NWseason{
    display: flex;
}

.NWseasonIterm{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.NWseasonIMG{
    width: 100%;
    height: 400px;

}
.NSTitle{
    font-size: 40px;
}

.NsBtn{
    
}





               /* jewelrys content */
/* .jewelrys{
    background-color: blue;
    padding-top: 0%;
} */

/* .prod{
    background-repeat: no-repeat;
    position: relative;
    background-size: 77rem;
    background-image: url("https://www.net-a-porter.com/content/images/cms/ycm/resource/blob/659676/9db596144e6e3b77673df41576b570c7/1024x576-mrp-ww-nap-desktop-data.jpg/w1500_q80.jpg");
    background-color: rgb(7, 97, 67);
}

.tittle{
color: #b90c85;
font-style: italic;
text-align: center;
font-size:  45px; 
}

.sub-tittle{
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    margin-right: 50px;
    color: blue;
    background-color: rgb(250, 244, 244);
}

.Sob-tittle{
    display: flex;
    text-align: center;
    gap: 3rem;
    color: #b90c85;
}

.brand-name{
    font-style: italic ;
    font-size: 50px;
    text-align: center;
    color: #dba0dd; 
    padding-top: 0px;
}

.brand-Name{
  font-size: 25px;
  text-align: center;
  color: #b90c85;
  padding-top: 0px;
}

.IMG{
    background: white;
    color: #dba0dd;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.IMG figure{
    margin: auto;
    width: 200px;
}

.fas-icon{
    color: green;
    transform: rotateY(-360deg);
    transition:all 1s ease-in-out;
    overflow: hidden; 
}

.fas-fa-shopping-cart{
    color: green;
    transform: rotateY(-360deg);
    transition:all 1s ease-in-out;
}

.IMG figure img{
    width: 20rem;
}



.fig{
    margin: auto;
    width: 200px;
}

.IMG-two .fig img{
    display: flex;
    width: 350px;
}

.colorBlue {
    color: rgb(0, 26, 255);
}
.colorred{
    color: red;
}



.featureImg{
    color: green;
} */
